.content {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  > img {
    width: 100%;
    max-width: 1213px;
  }
}

.link > button {
  color: white !important;
  font-weight: normal;
}

.selected > button {
  font-weight: 800;
}

.drawer {
  background-color: grey;
}
